html,
body {
		height: 100%;
}

#home,
#about {
		overflow-y: auto;
		min-height: 100%;
	}

#portfolio {
		overflow-y: auto;
		min-height: 90%;
		padding-top: 60px;
}
.margin-bottom-10 {
	margin-bottom: 10px;
}

.textbox {
		padding: 2%;
		background-color: rgba(208, 208, 208, 0.6);
}

.textbox p{
	margin-left: 10px;
}

.row-five{
	padding-bottom: 10%;
}

.jumbotron {
		margin-bottom: 0px;
}

#home {
		background-image: url("https://dl.dropboxusercontent.com/u/2275776/FCC%20Assets/drink_up.jpg");
		background-size: cover;
		background-position: bottom center;
	padding-top: 180px;
}

#about {
		background-image: url("https://dl.dropboxusercontent.com/u/2275776/FCC%20Assets/coffee.jpg");
		background-size: cover;
	padding-top: 60px;
}

#portfolio {
		background-image: url("https://dl.dropboxusercontent.com/u/2275776/FCC%20Assets/Coloured%20Pencil.jpg");
		background-size: cover;
}

#portfolio img{
	margin-bottom: 5%;
}

.navbar-inverse .navbar-nav>li>a:hover{
background-color: #333;
}

footer {
		background-color: #222;
}

footer p{
	padding-top: 15px;
}